{% extends 'base.html.twig' %}

{% block title %}Домашняя страница!{% endblock %}

{% block body %}
    <h2>Домашняя страница</h2>
    <div>
        <table>
            <tr>
                <td>
                    <a class="btn" href="{{ path('car_index') }}">Список автомобилей</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn" href="{{ path('brand_index') }}">Список марок автомобилей</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn" href="{{ path('model_index') }}">Список моделей автомобилей</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
