{% extends 'base.html.twig' %}

{% block title %}Марки автомобилей{% endblock %}

{% block body %}
    <h2>Марки автомобилей</h2>

    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Название</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td data-label="Название">{{ brand.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('brand_show', {'id': brand.id}) }}">Показать</a>
                    {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-primary" href="{{ path('brand_edit', {'id': brand.id}) }}">Редактировать</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Записей не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-center">
            <a class="btn btn-primary" href="{{ path('brand_new') }}">Добавить</a>
        </div>
    {% endif %}
{% endblock %}
