{% extends 'base.html.twig' %}

{% block title %}Добавить марку{% endblock %}

{% block body %}
    <h2>Добавить новую марку</h2>
    <div class="container">
        <div class="text-center">
            {{ include('brand/_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('brand_index') }}">Вернуться</a>
        </div>
    </div>
{% endblock %}
