{% extends 'base.html.twig' %}

{% block title %}Список пользователей{% endblock %}

{% block body %}
    <h2>Список пользователей</h2>

    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Почта</th>
                <th scope="col">Роли</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td data-label="Id">{{ user.id }}</td>
                <td data-label="Почта">{{ user.email }}</td>
                <td data-label="Роли">
                    <select>
                        {% for role in user.roles %}
                        <option>
                            {{ role }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('admin_edit', {'id': user.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Записей не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
