{% extends 'base.html.twig' %}

{% block title %}Редактировать автомобиль{% endblock %}

{% block body %}
    <h1>Редактировать автомобиль</h1>

    {{ include('car/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('car_index') }}">Вернуться</a>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('brand/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
