{% extends 'base.html.twig' %}

{% block title %}Добавить автомобиль{% endblock %}

{% block body %}
    <h2>Добавить новый автомобиль</h2>
    <div class="container">
        <div class="text-center">
            {{ include('car/_form.html.twig') }}
            <a class="btn btn-primary" href="{{ path('car_index') }}">Вернуться</a>
        </div>
    </div>
{% endblock %}
