{% extends 'base.html.twig' %}

{% block title %}Добавить автомобиль{% endblock %}

{% block body %}
    <h1>Добавить новый автомобиль</h1>

    {{ include('car/_form.html.twig') }}

    <a href="{{ path('car_index') }}">Вернуться</a>
{% endblock %}
